---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>PHDEV Notebooks</title>
    <link>https://notebooks.phdev.uk</link>
    <description>分享程式開發筆記與專案連結</description>
    <language>zh-TW</language>
    {# 【修正】增加一個判斷，只有在 collections.posts 有內容時，才輸出 lastBuildDate #}
    {%- if collections.posts.length -%}
    <lastBuildDate>{{ collections.posts[0].data.date | isoDate }}</lastBuildDate>
    {%- endif -%}
    <atom:link href="https://notebooks.phdev.uk/feed.xml" rel="self" type="application/rss+xml"/>
    {%- for post in collections.posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ post.data.url }}</link>
      {# 【修正】同樣增加判斷，確保日期存在才進行格式化 #}
      {%- if post.data.date -%}
      <pubDate>{{ post.data.date | isoDate }}</pubDate>
      {%- endif -%}
      <guid>{{ post.data.url }}</guid>
      <description><![CDATA[{{ post.data.description | stripHtml }}]]></description>
    </item>
    {%- endfor %}
  </channel>
</rss>
