---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>PHDEV Notebooks</title>
    <link>https://notebooks.phdev.uk</link>
    <description>分享程式開發筆記與專案連結</description>
    <language>zh-TW</language>
    {# 使用posts數據而不是collections.posts #}
    {%- if posts.length -%}
    <lastBuildDate>{{ posts[0].date | isoDate }}</lastBuildDate>
    {%- endif -%}
    <atom:link href="https://notebooks.phdev.uk/feed.xml" rel="self" type="application/rss+xml"/>
    {%- for post in posts %}
    <item>
      <title>{{ post.title }}</title>
      <link>{{ post.url }}</link>
      {%- if post.date -%}
      <pubDate>{{ post.date | isoDate }}</pubDate>
      {%- endif -%}
      <guid>{{ post.url }}</guid>
      <description><![CDATA[{{ post.description | stripHtml }}]]></description>
      {%- if post.tags and post.tags.length -%}
      <category>{{ post.tags | join(", ") }}</category>
      {%- endif -%}
    </item>
    {%- endfor %}
  </channel>
</rss>
