---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <!-- 首頁 -->
  <url>
    <loc>https://your-domain.com/</loc>
    <lastmod>{{ collections.recentPosts[0].data.date | isoDate }}</lastmod>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>
  
  <!-- 標籤頁面 -->
  {%- for tag in collections.tagList -%}
  <url>
    <loc>https://your-domain.com/tags/{{ tag | slug }}/</loc>
    <lastmod>{{ collections.recentPosts[0].data.date | isoDate }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- endfor -%}
  
  <!-- RSS 訂閱 -->
  <url>
    <loc>https://your-domain.com/feed.xml</loc>
    <lastmod>{{ collections.recentPosts[0].data.date | isoDate }}</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.9</priority>
  </url>
</urlset>