---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {# 新增首頁 #}
    <url>
        <loc>https://notebooks.phdev.uk/</loc>
        <changefreq>daily</changefreq>
        {# 只有在文章集合有內容時，才設定最後修改日期 #}
        {%- if collections.posts.length -%}
        <lastmod>{{ collections.posts[0].data.date | isoDate }}</lastmod>
        {%- endif -%}
    </url>

    {# 新增所有文章的外部連結 #}
    {%- for post in collections.posts -%}
    {# 確保 URL 和 Date 都存在才加入 #}
    {%- if post.data.url and post.data.date -%}
    <url>
        <loc>{{ post.data.url }}</loc>
        <changefreq>weekly</changefreq>
        <lastmod>{{ post.data.date | isoDate }}</lastmod>
    </url>
    {%- endif -%}
    {%- endfor -%}
</urlset>
